# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\#SCHOOL\P.O.O AVANCEE\testgit2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
